@import "bootstrap/scss/bootstrap";
$main_color: #8cff2e;
$text_color: white;
$second_color: #333333bb;
$background: #050505;
.navbar {
  background-color: $background !important;
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
}
.navbar-brand {
  font-weight: bold;
}
a {
  color: $text_color !important;
  margin-right: 10px;
  font-weight: 400;
  &:hover {
    color: $main_color !important;
  }
}

.logo {
  color: white !important;
  font-family: var("primary");
}
.btn {
  font-weight: 500;
  padding: 14px;
  font-size: 15px;
}
.login-btn {
  background-color: $second_color !important;
  border: $second_color !important;
  font-weight: 600;
  color: white;
  &:hover {
    background-color: #ffffffbb(114, 114, 114) !important;
    color: white !important;
  }
}

.start-btn {
  background-color: $main_color !important;
  color: black;
  border: #8cff2e;
  font-weight: 500;
  box-shadow: 1px 1px 60px 2px $main_color;
  &:hover {
    color: black !important;
  }
}
.start-btn .bi {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: primary;
  src: url("/auto-app/public/fonts/Geoform-ExtraBold.otf");
  font-weight: 500;
}
