@import 'bootstrap/scss/bootstrap';
$main_color: #8cff2e;
$text_color: white;
$second_color: #333333bb;
$background: #050505;
// $gradient-btn-color: ;
body {
  overflow: auto;
}
body::selection {
  background-color: #8cff2e1e;
  color: $main_color;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('../assets/fonts/Lexend-Regular.woff2') format('woff2'),
    url('../assets/fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('../assets/fonts/Lexend-Bold.woff2') format('woff2'),
    url('../assets/fonts/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src:
    url('../assets/fonts/Lexend-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Lexend-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Optional classes like Google does */
.lexend-regular {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}
.lexend-bold {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
}
.lexend-extralight {
  font-family: 'Lexend', sans-serif;
  font-weight: 200;
}
