.mainContainer {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: black;
}
.heroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 991.98px) {
  .heroSection {
    flex-direction: column;
    align-items: stretch;
  }
}
