$main_color: #8cff2e;
$text_color: white;
$second_color: #111010bb;
$background: #050505;
.howItWorks {
  height: auto;
  width: 100%;
  padding: 40px;
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.video {
  display: flex;
  align-items: center;
  gap: 10px;
}
.play {
  color: #8cff2e;
  font-size: 25px;
  font-family: 'Lexend-Regular', sans-serif;
  &:hover {
    transform: scale(1.1);
    transition: 0.2s all ease;
  }
}
.title {
  font-size: 50px;
  font-family: 'Lexend-ExtraLight', sans-serif;
  margin-bottom: 20px;
}
.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  font-family: 'Lexend-ExtraLight', sans-serif;
  .card {
    color: white;
    padding: 10px;
    width: 30.99%;
    background: $second_color;
    border-radius: 10%;
    .card-img-wrapper {
      position: relative;
      border-radius: 10%;
      .card-img-top {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
        border-radius: 10%;
        margin-bottom: -10%;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 10%;
        height: 60%; /* how much black fades up */
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.7) 60%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }
    .card-text {
      color: #8e8e8e !important;
    }
  }
}

.card-badge {
  width: fit-content;
  height: 30px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main_color;
  background-color: black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px -1px $main_color;
  margin-top: 15%;
  margin-bottom: 20px;
  font-family: 'Lexend-Regular', sans-serif;
}
//mobile screen
@media (max-width: 991.98px) {
  .howItWorks {
    height: auto;
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .video {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .play {
    color: #8cff2e;
    font-size: 20px;
    font-family: 'Lexend-Regular', sans-serif;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s all ease;
    }
  }
  .title {
    font-size: 30px;
    font-family: 'Lexend-ExtraLight', sans-serif;
    margin-bottom: 20px;
  }
  .steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Lexend-ExtraLight', sans-serif;
    .card {
      color: white;
      padding: 10px;
      width: 100%;
      background: $second_color;
      border-radius: 10%;
      .card-img-wrapper {
        position: relative;
        border-radius: 10%;
        .card-img-top {
          width: 100%;
          height: 200px;
          object-fit: cover;
          display: block;
          border-radius: 10%;
          margin-bottom: -10%;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-radius: 10%;
          height: 60%; /* how much black fades up */
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 60%,
            rgba(0, 0, 0, 1) 100%
          );
        }
      }
      .card-text {
        color: #8e8e8e !important;
      }
    }
  }

  .card-badge {
    width: fit-content;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_color;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px -1px $main_color;
    margin-top: 15%;
    margin-bottom: 20px;
    font-family: 'Lexend-Regular', sans-serif;
  }
}

//tablet screen
@media (min-width: 768px) and (max-width: 1023px) {
  .howItWorks {
    height: auto;
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .video {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .play {
    color: #8cff2e;
    font-size: 25px;
    font-family: 'Lexend-Regular', sans-serif;
    &:hover {
      transform: scale(1.1);
      transition: 0.2s all ease;
    }
  }
  .title {
    font-size: 50px;
    font-family: 'Lexend-ExtraLight', sans-serif;
    margin-bottom: 20px;
  }
  .steps {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: 'Lexend-ExtraLight', sans-serif;
    .card {
      color: white;
      padding: 10px;
      width: 40%;
      background: $second_color;
      border-radius: 10%;
      .card-img-wrapper {
        position: relative;
        border-radius: 10%;
        .card-img-top {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
          border-radius: 10%;
          margin-bottom: -10%;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-radius: 10%;
          height: 60%; /* how much black fades up */
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 60%,
            rgba(0, 0, 0, 1) 100%
          );
        }
      }
      .card-text {
        color: #8e8e8e !important;
      }
    }
  }

  .card-badge {
    width: fit-content;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main_color;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px -1px $main_color;
    margin-top: 15%;
    margin-bottom: 20px;
    font-family: 'Lexend-Regular', sans-serif;
  }
}
